<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-button shape="round" class="buttonclass" (click)="goToUpcomingPage()">Upcoming</ion-button>
    <ion-button shape="round" class="buttonclass" (click)="goToTrendingPage()">Trending</ion-button>
    <ion-button shape="round" class="buttonclass" (click)="goToThisYearPage()">Cinema</ion-button>
    <ion-button shape="round" class="buttonclass" (click)="goToFavouritesPage()">Favourites</ion-button>
  </div>
</ion-content>
